.AnswerButton {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--light-color);
  border-radius: 10px;
  width: 240px;
  height: 50px;
  border: 1px solid var(--dark-color);
  transition: transform 0.3s;
}

.AnswerButton:hover {
  transform: scale(1.05);
}

.AnswerButton__AnswerText {
  color: var(--dark-color);
}

.AnswerButton__RightAnswer {
  background-color: var(--green);
}

.AnswerButton__WrongAnswer {
  background-color: var(--red);
}

.hide {
  background-color: var(--light-color);
}
