.Button {
  color: var(--highlight2);
  transform: scale(3);
}

.Button::before {
  background: transparent;
}

.Button:hover {
  box-shadow: 0px 0px 15px hotpink;
}

.Button--Active {
  color: var(--highlight1);
}
