.AddButton {
  width: 97.5px;
  height: 84.4px;
  background-color: var(--dark-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.Button {
  color: var(--highlight2);
  transform: scale(3);
}
